@value typography: '../../common/styles/typography.css';
@value listItemTitle, listItemSubtitle from typography;

.header {
    margin: 5% 0;
}

.title {
    composes: listItemTitle;
    margin: 0;
}

.description {
    composes: listItemSubtitle;
    margin: 8px 0 25px 0;
}
