.postHeader {
    margin: 10% 0;
}

.postTitle {
    font-family: 'Podkova', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.postDate {
    margin: 8px 0px;
}

.postContent {
    font-size: 18px;
    line-height: 1.5em;
}
