@value colors: "./colors.css";
@value nord1, nord2, nord9, nord14 from colors;

.listItemTitle {
    font-size: 1.5rem;
}

.listItemTitleLink {
    text-decoration: none;
    color: nord2;
}

.listItemSubtitle {
    letter-spacing: 1px;
}

.siteLogo {
    display: inline-block;
    font-family: 'Rubik Black', sans-serif;
    font-size: 2.25rem;
    text-decoration: none;
    color: nord9;
}

.navItem {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    color: nord1;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
}
