@value colors: "../../common/styles/colors.css";
@value typography: "../../common/styles/typography.css";
@value nord2 from colors;
@value listItemTitle, listItemTitleLink, listItemSubtitle from typography;

.header {
    font-family: 'Rubik', sans-serif;
    color: nord2;
    margin: 5% 0;
}

.linkBlock {
    cursor: pointer;
}

.title {
    composes: listItemTitle;
    margin-bottom: 0;
}

.titleLink {
    composes: listItemTitleLink;
}

.subtitle {
    composes: listItemSubtitle;
    margin: 0.5em 0;
}

.date {
    font-size: 0.9em;
    margin-right: 8px;
}

.timeToRead {
    font-size: 0.75em;
    margin-left: 8px;
}
