@value colors: "../../common/styles/colors.css";
@value white, nord9 from colors;

.header {
    grid-area: header;
    background-color: white;
}

.mainContent {
    max-width: 45rem;
    padding: 1.5rem;
    margin: auto;
    min-height: calc(100vh - 120px);
}
