@value colors: "../../common/colors.css";
@value white, nord1, nord4, nord9 from colors;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 75px;
}

.logo {
    display: inline-block;
    margin-left: 35px;
    color: nord9;
    font-family: 'Rubik Black', sans-serif;
    font-size: 40px;
    text-decoration: none;
}

.logoImg {
    width: 175px;
    vertical-align: middle;
}

.navLinks {
    display: flex;
    list-style: none;
    margin-right: 70px;
}

.navItem {
}

.navItemLink {
    display: inline-block;
    margin-left: 124px;
    padding: 10px 0px;
    color: nord1;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
}

.navItemLink:hover {
    background-color: nord4;
    border-radius: 25px;
}
