@value colors: "../../common/styles/colors.css";
@value typography: '../../common/styles/typography.css';
@value white, nord4 from colors;
@value siteLogo, navItem from typography;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    composes: siteLogo;
    margin-left: 35px;
}

.logoImg {
    width: 175px;
    vertical-align: middle;
}

.navLinks {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.navItemLink {
    composes: navItem;
    margin-left: 20px;
    padding: 10px 15px;
}

.active {
    background-color: nord4;
    padding: 10px 15px;
    border-radius: 25px;
}

.navItemLink:hover {
    background-color: nord4;
    padding: 10px 15px;
    border-radius: 25px;
}
