@value colors: "../common/colors.css";
@value white, lightGrey from colors;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
}

.logoImg {
    width: 175px;
    vertical-align: middle;
}

.navLinks {
    display: flex;
    list-style: none;
    margin-right: 25px;
}

.navItem {
}

.navItemLink {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-family: 'Antic', sans-serif;
    font-size: 25px;
}

.navItemLink:hover {
    color: lightGrey;
}
