body {
    font-family: 'Assistant', sans-serif;
}

h1,
h2 {
    font-family: 'Antic', sans-serif;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}

h3,
h4,
h5 {
    font-family: 'Podkova', sans-serif;
}
h3 {
    font-size: 30px;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}
